.carousel-inner {
    width: 100%;
    height: 60vh; 
}

.carousel-item img {
    object-fit: cover;
    height: 60vh;
    width: 100%;
}

.div_h2{
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 30px;
    background-color: #2f2a2a;
    color: #ca0002;
}

.marcas{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 5rem;
    flex-wrap: wrap;
    padding: 50px;
    background-color: #fff;
}


.marcas img {
  max-height: 60px;
  filter: grayscale(100%);
  transition: 0.3s ease;
}

.marcas img:hover {
  filter: grayscale(0%);
  transform: scale(1.05);
}

.marcas-logos {
  gap: 2rem;
  flex-wrap: wrap;
  justify-content: center;
}