#produtos {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    padding: 20px;
}

.carros {
    width: 200px;
    text-align: center;
}

.moto {
    margin-top: 10px;
    font-size: 14px;
}

.img_produtos {
    width: 100%;
    height: auto;
    border-radius: 8px;
    object-fit: cover;
    transition: transform 0.3s ease; 
}

.img_produtos:hover {
    transform: scale(1.7); 
}
.carros {
    background-color: #c5bddd;
    padding: 10px;
    border-radius: 10px;
}
